.box{
    width: 800px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.light{
    background-color: white;
    color: black;
}

.dark{
    background-color: black;
    color: white;
}